@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --main-color: indigo;
    --secondary-color: cornsilk;
    --shadow-color: gray;
    --face-card-color: hotpink;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.memory-wrapper {
    width: 95%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memory-header {
    width: 100%;
    height: auto;
    padding: 0.5rem 2rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memory-header h1 {
    font-size: 1.5rem;
}

#reset-btn {
    padding: 0.3rem;
    width: 6rem;
    margin-right: 4rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 0.3rem;
    border: none;
    box-shadow: .1rem .1rem 0 var(--shadow-color);
}

#reset-btn:hover {
    filter: hue-rotate(180deg);
    transform: scale(1.05);
}

#reset-btn:active {
    transform: translate(1px, -1px);
    transform: translate(1px, -1px);
}

.board-wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

#memory-board {
    width: inherit;
    height: 90vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    perspective: 2000px;
}

#memory-board>div {
    margin: 5px;
}

.card-wrapper {
    position: relative;
    display: flex;
    width: 18%;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;

}

.card-top {
    box-shadow: .15rem .15rem 0 var(--shadow-color);
}

.card-top:hover,
.card-face-wrapper:hover {
    transform: scale(1.02);
    filter: hue-rotate(-30deg);
}


.card-top,
.card-face-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: none;
}

.card-face-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--face-card-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-wrapper {
    transform-style: preserve-3d;
    transition: transform .8s;
}

.card-wrapper.flip {
    transform: rotateY(180deg);
}

.card-wrapper.inactive {
    pointer-events: none;
}

.card-face {
    /* color: var(--secondary-color); */
    color: red;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Courgette', cursive;
    font-size: small;
}